/* TaskDetailPage.css */

.loading-animation {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    animation: fadeInOut 2s linear infinite; /* Áp dụng hiệu ứng fadeInOut trong 2 giây vô hạn */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  